*{
  cursor: none;
}
.about {
  padding-top: 110px;
  padding-left: 110px;
  width: 1120px;
}

.info {
  padding-left: 110px;
  padding-top: 130px;
  padding-bottom: 110px;
}

.underConstruction {
  padding-left: 110px;
  padding-top: 130px;

}

.headline {
  padding-left: 110px;
  padding-top: 160px;
  padding-right: 50px;
}

.arrow {
  padding-top: 220px;
}

.projectOne {
  padding-top: 150px;
  padding-bottom: 160px;
}

.projectTwo {
  padding-top: 160px;
  padding-bottom: 50px;
}

.NotFound {
  margin-left: 15%;
  margin-right: 15%;

}

.BreakLine {
  padding-left: 110px;
  padding-right: 160px;
}

.section-footer {
  padding-left: 110px;
  padding-top: 150px;
  padding-bottom: 25px;
}

.header {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

hr.brLine {
  border: 1px solid grey;
  
}
.desc1 {
  padding-bottom: 100px;
}

.header-Email {
  padding-left: 110px;
  padding-right: 110px;

}

.content-Email {
  padding-top: 80px;
}

